.feed{
    border-color: grey;
    border-style: solid;
    border-width: 1px;
    display:flex;
    flex-direction: column;
    width: 50vh;
    margin-left: 75vh;
    
}
/************************* usuario *************************/
.imgUser {
    border-radius: 50%;
    width: 6vh;
    margin-right:5px;
    height: 8vh;
    padding: 5px;
}
.usuario {
    display:flex;
    width: 50vh;
    align-items: center;
    border-bottom: 0;
    
}  
/************************* foto *************************/
.fotoPrincipal {
    margin-right: 7.5vh;
    width: 50vh;
}

/************************* likes *************************/

.likes{
    display: flex;
    justify-content:space-between;
    width: 49vh;
    padding:5px;
}

