body {
	background: wheat;

}
/* cabeçalho 
#cabeçalho li {
	display: inline;
	text-align: center;
	align-content: center;
}*/



/* imagens */

.img {
	display: inline;
	width: 49.8%;
	height: 300px;
}


/* menu */
#menu {
	margin-bottom: 3em;
}

#menu li {
	display: inline;
	text-align: center;
	align-content: center;
}

#menu a {
	color: white;
	font-size: 1em;
	margin-left: 8em;
	margin-right: 6em;
	padding: 0px;
}


/* rodapé */

.rod{
	display: inline;
	height: 4em;
	
}

#end {
	margin-bottom: 10em;
}

/* estoque tabelas */
