*{
    margin:0;
    padding: 0;
}
header {
    height: 60px;
    background-color:#66CDAA;
    color:white;
}

#Semana{
    background-color: #E0FFFF;
    color:#4F4F4F;
    display: flex;
   
}
.DiasDaSemana{
    height: 80vh;
    width: 20%;
    display: flex;
    border-right-color:black;
    border-right-width: 2px;
    border-right-style: solid;
    margin-right: 5px;
    flex-direction: column;
    margin-top: 20px;
}

#agendamento {
    display:flex;
    justify-content: space-around;
    justify-content: center;    
}

